// 主色
$color-main = #00dfd5

//辅色
$color-minor = #fef0f0

//纯白
$color-white = #fff

//纯黑
$color-black = #000

//主要文字
$color-title = #262a30

//常规文字
$color-normal = #606266

//次要文字
$color-light-gary = #909399

//占位文字
$color-gary = #C0C4CC

//背景颜色
$color-background = #f9f9f9

//女生色
$color-girl = #fef0f0

//男生色
$color-boy = #53a8ff